---
import "../styles/global.css";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <nav class="bg-purple-900 shadow-lg sticky top-0 z-10">
    <div class="max-w-6xl mx-auto px-6">
      <div class="flex items-center justify-between h-16">
        <a href="/">
          <img
            src="/img/Logo-SAE303.svg"
            alt="Logo SAE303"
            class="h-8 w-auto hover:opacity-80 transition"
          />
        </a>
        <div class="flex space-x-4">
          <a
            href="/conclusion"
            class="bg-white/20 text-white px-4 py-2 rounded-lg hover:bg-white/30"
          >
            Conclusion de notre analyse
          </a>
        </div>
      </div>
    </div>
  </nav>
  <body>
    <slot />
    <Footer />
  </body>

  <style>
    html,
    body {
      margin: 0;
      width: 100%;
      height: 100%;
    }
  </style>


</html>
